<app-header class="purple" [title]="title" [paragraph]="paragraph"></app-header>

<section class="pl-about b-im flex j-center">
    <div class="about--block">
      <div class="about-block--image wow fadeInUp" data-wow-delay=".2s">
          
      </div>
      <div class="about-block--text text-center wow fadeInUp" data-wow-delay=".3s">
        <p>Здесь вы можете принять участие в проектировании совершенно новых технологий, внедряемых на существующие промышленные предприятия для решения текущих проблем, а также оптимизации производственных процессов.</p>
      </div>
      <div class="about-block--button text-center wow fadeInUp" data-wow-delay=".4s">
          <button type="submit" class="button purple">Принять участие</button>
      </div>
    </div>
</section>
<section class="pl-how num-section dot-bl st-p">
    <div class="row">
      <div class="columns small-12 text-center wow fadeInUp" data-wow-delay=".2s">
        <h2>
          Как это работает
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="columns medium-7 small-centered small-12 text-left">
          <div class="how-item flex a-items-start j-start small-wrap wow fadeInUp" data-wow-delay=".3s">
            <div class="how-item--image">
              <p>1</p>
            </div>
            <div class="how-item--text">
              <p>Вы регистрируетесь на портале, максимально полно указывая информацию о себе</p>
            </div>
          </div>
          <div class="how-item flex a-items-start j-start small-wrap wow fadeInUp" data-wow-delay=".4s">
            <div class="how-item--image">
              <p>2</p>
            </div>
            <div class="how-item--text">
              <p>По мере необходимости выполнения разделов проектной документации, менеджер проекта (ГИП) анализирует анкеты зарегистрированных проектировщиков и выбирает необходимых исполнителей</p>
            </div>
          </div>
          <div class="how-item flex a-items-start j-start small-wrap wow fadeInUp" data-wow-delay=".5s">
            <div class="how-item--image">
              <p>3</p>
            </div>
            <div class="how-item--text">
              <p>На вашу электронную почту приходит запрос для выполнения работ</p>
            </div>
          </div>
          <div class="how-item flex a-items-start j-start small-wrap wow fadeInUp" data-wow-delay=".6s">
            <div class="how-item--image">
              <p>4</p>
            </div>
            <div class="how-item--text">
              <p>При предварительном согласии мы с вами связываемся и уточняем все детали выполнения работ</p>
            </div>
          </div>
          <div class="how-item flex a-items-start j-start small-wrap wow fadeInUp" data-wow-delay=".7s">
            <div class="how-item--image">
              <p>5</p>
            </div>
            <div class="how-item--text">
              <p>Заключаем срочный договор, и вы приступаете к выполнению работ</p>
            </div>
          </div>
          <div class="how-item flex a-items-start j-start small-wrap wow fadeInUp" data-wow-delay=".8s">
            <div class="how-item--image">
              <p>6</p>
            </div>
            <div class="how-item--text">
              <p>Взаимодействие до полного исполнения обязанностей сторонами</p>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12 text-center">
        <div class="button-section wow fadeInUp" data-wow-delay=".9s">
          <button type="submit" class="button purple">Зарегистрироваться</button>
        </div>
      </div>
    </div>
</section>
<section class="pl-benefit icon-section st-p">
      <div class="row">
        <div class="columns small-12 text-center wow fadeInUp" data-wow-delay=".2s">
          <h2>
              Наши преимущества
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="columns medium-8 small-centered small-12 text-left">
          <div class="benefits-item flex a-items-center small-wrap wow fadeInUp" data-wow-delay=".3s">
            <div class="benefits-item--image">
              <img src="assets/img/plan-1.png">
            </div>
            <div class="benefits-item--text">
              <p>Возможность удаленной работы, что позволяет быть свободным и не привязанным к месту работы</p>
            </div>
          </div>
          <div class="benefits-item flex a-items-center small-wrap wow fadeInUp" data-wow-delay=".4s">
            <div class="benefits-item--image">
              <img src="assets/img/plan-2.png">
            </div>
            <div class="benefits-item--text">
              <p>Возможность работать в команде с самыми разными специалистами, все время повышая свой профессиональный уровень</p>
            </div>
          </div>
          <div class="benefits-item flex small-wrap a-items-center wow fadeInUp" data-wow-delay=".5s">
            <div class="benefits-item--image">
              <img src="assets/img/plan-3.png">
            </div>
            <div class="benefits-item--text">
              <p>Проектирование самых инновационных решений и объектов, так как мы проектируем исключительно инновации</p>
            </div>
          </div>
          <div class="benefits-item flex small-wrap a-items-center wow fadeInUp" data-wow-delay=".6s">
            <div class="benefits-item--image">
              <img src="assets/img/plan-4.png">
            </div>
            <div class="benefits-item--text">
              <p>Ощущение себя полностью сопричастным к процессу, так как в основе взаимодействия между всеми участниками процесса лежит «горизонтальная» структура</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="columns small-12 text-center">
        <div class="button-section wow fadeInUp" data-wow-delay=".7s">
          <button type="submit" class="button purple">Убедиться лично</button>
        </div>
      </div>
      </div>
</section>

<app-registration class="purple"></app-registration>