<app-menu></app-menu>
<div class="basic-form contact-block">
    <div class="row">
        <div class="column small-12">
          <!--<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />-->
          <div class="profile-block">
              <h1>Список пользователей</h1>
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <!--<td>UserId</td>-->
                          <td>Active</td>
                          <td>Confirm</td>
                          <td>Email</td>
                          <td>Админ/модератор</td>
                          <td>Инноватор</td>
                          <td>Проектировщик</td>
                          <td>Фамилия</td>
                          <td>Имя</td>
                          <td>Отчество</td>
                          <td>Дата создания</td>
                          <td>Дата обновления</td>
                          <td>Последний вход</td>
                          <td></td>
                          <td></td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let p of users">
                          <ng-template [ngIf]="user?.userId != p.userId" [ngIfElse]="edit">
                              <!--<td>{{p?.userId}}</td>-->
                              <td>{{p?.active}}</td>
                              <td>{{p?.confirmed}}</td>
                              <td>{{p?.email}}</td>
                              <td>
                                  <input [checked]="p?.isAdmin" type="checkbox">
                                  <input [checked]="p?.isModerator" type="checkbox">
                              </td>
                              <td>
                                  <input [checked]="p?.isInnovator" type="checkbox">
                              </td>
                              <td>
                                  <input [checked]="p?.isDesigner" type="checkbox">
                              </td>
                              <td>{{p?.lastName}}</td>
                              <td>{{p?.firstName}}</td>
                              <td>{{p?.secondName}}</td>
                              <td>{{p?.dateCreate | date:'dd.MM.yyyy hh:mm'}}</td>
                              <td>{{p?.dateUpdate | date:'dd.MM.yyyy hh:mm'}}</td>
                              <td>{{p?.dateLastLogin | date:'dd.MM.yyyy hh:mm'}}</td>
                              <td>
                                  <button class="btn btn-sm btn-primary">Подтвердить</button>
                                  <button class="btn btn-sm btn-danger">Сбросить пароль</button>
                                  <!--<button class="btn btn-sm btn-primary" (click)="editUser(p)">Изменить</button>
                      <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>-->
                              </td>
                              <td>
                                  <!--<a [routerLink]="['profile', p.userId]" class="nav-link">Профиль</a>-->
                                  <a href="/profile/{{p?.userId}}" class="nav-link">Профиль</a>
                              </td>
                          </ng-template>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>
</div>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <!--<input type="text" [(ngModel)]="user.active" class="form-control" />-->
    </td>
    <td>
        <input type="text" [(ngModel)]="user.email" class="form-control" required />
    </td>
    <td>
        <!--<input type="text" [(ngModel)]="user.type" class="form-control" />-->
    </td>
    <td>
        <!--<input type="text" [(ngModel)]="user.password" class="form-control" />-->
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>
