<footer>
  <div class="row">
    <div class="columns small-12 text-left">
      <div class="footer-top flex">
        <a routerLink="/">
          <div class="top--logo flex a-items-center">
            <div class="logo--icon"></div>
            <div class="logo--text">
                <img src="assets/img/logo-text.svg">
            </div>
          </div>
        </a>
        <div class="top--menu">
          <ul class="list-unstyled">
            <li><a routerLink="/">Главная страница</a></li>
            <li><a routerLink="/innovators">Инноваторам</a></li>
            <li><a routerLink="/planners">Проектировщикам</a></li>
          </ul>
        </div>
        <div class="top--contact text-right">
            <a href="mailto:projectinnovations@gmail.com">{{mail}}</a>
            <p>+7 (383) 258 5232</p>
        </div>
      </div>
      <div class="footer-bottom flex j-between">
        <div class="bottom---info">
          <p>Общество с ограниченной ответственностью "Проектные инновации"</p>
          <br/>
          <p>ИНН 4205290033 КПП 420501001 ОГРН 1144205010256</p>
        </div>
        <div class="bottom-info--mobile">
          <p>ООО "Проектные инновации" ИНН 4205290033 КПП 420501001 ОГРН 1144205010256</p>
        </div>
        <div class="bottom--year">
          <p>{{year}}</p>
        </div>
      </div>
      <div class="footer-lamp">
        <img src="assets/img/lamp.png">
      </div>
    </div>
  </div>
</footer>
