<app-header class="green" [title]="title" [paragraph]="paragraph"></app-header>

<section class="b-im in-about flex j-center">
  <div class="about--block">
    <div class="about-block--image wow fadeInUp" data-wow-delay=".3s">
        
    </div>
    <div class="about-block--text text-center wow fadeInUp" data-wow-delay=".4s">
      <p>На нашей площадке вы можете найти реальное применение для своих разработок, доказав их уникальность и показав полезность в конкретных промышленных условиях</p>
    </div>
    <div class="about-block--button text-center wow fadeInUp" data-wow-delay=".5s">
        <button type="submit" class="button green" routerLink="/login">Принять участие</button>
    </div>
  </div>
</section>
<section class="in-how num-section dot-bl st-p">
  <div class="row">
    <div class="columns small-12 text-center wow fadeInUp" data-wow-delay=".2s">
      <h2>
        Как это работает
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-7 small-centered small-12 text-left">
        <div class="how-item flex a-items-start j-start small-wrap wow fadeInUp" data-wow-delay=".3s">
          <div class="how-item--image">
            <p>1</p>
          </div>
          <div class="how-item--text">
            <p>Вы регистрируетесь на портале, максимально полно указывая информацию о себе</p>
          </div>
        </div>
        <div class="how-item flex a-items-start j-start small-wrap wow fadeInUp" data-wow-delay=".4s">
          <div class="how-item--image">
            <p>2</p>
          </div>
          <div class="how-item--text">
            <p>По указанной вами информации (сфера, отрасль, направление) на ваш E-mail будет производиться рассылка с запросами на решение проблем. Так же Вы сможете лично знакомиться со всеми запросами, поступившими от заинтересованных предприятий</p>
          </div>
        </div>
        <div class="how-item flex a-items-start j-start small-wrap wow fadeInUp" data-wow-delay=".5s">
          <div class="how-item--image">
            <p>3</p>
          </div>
          <div class="how-item--text">
            <p>Получив/найдя интересующий запрос, вы предлагаете свое решение проблемы, которое могут увидеть другие участники и оно может обсуждаться</p>
          </div>
        </div>
        <div class="how-item flex a-items-start j-start small-wrap wow fadeInUp" data-wow-delay=".6s">
          <div class="how-item--image">
            <p>4</p>
          </div>
          <div class="how-item--text">
            <p>Если ваша идея заинтересовала заказчика инновации, то с вами заключается Договор и начинаем работу по консолидации предложенного решения, его проектирования и дальнейшего внедрения</p>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12 text-center">
      <div class="button-section wow fadeInUp" data-wow-delay=".7s">
        <button type="submit" class="button green">Зарегистрироваться</button>
      </div>
    </div>
  </div>
</section>
<section class="in-benefit icon-section st-p">
    <div class="row">
      <div class="columns small-12 text-center wow fadeInUp" data-wow-delay=".2s">
        <h2>
            Наши преимущества
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="columns medium-8 small-centered small-12 text-left">
        <div class="benefits-item flex a-items-center small-wrap wow fadeInUp" data-wow-delay=".3s">
          <div class="benefits-item--image">
            <img src="assets/img/inv-1.png">
          </div>
          <div class="benefits-item--text">
            <p>Конкретный запрос на решение существующей проблемы</p>
          </div>
        </div>
        <div class="benefits-item flex a-items-center small-wrap wow fadeInUp" data-wow-delay=".4s">
          <div class="benefits-item--image">
            <img src="assets/img/inv-2.png">
          </div>
          <div class="benefits-item--text">
            <p>Возможность проработки в реальных производственных условиях своей идеи/изобретения и дальнейшее внедрение</p>
          </div>
        </div>
        <div class="benefits-item flex small-wrap a-items-center wow fadeInUp" data-wow-delay=".5s">
          <div class="benefits-item--image">
            <img src="assets/img/inv-3.png">
          </div>
          <div class="benefits-item--text">
            <p>Расширение взглядов за счет публичного обсуждения представленных идей с другими учеными/новаторами/изобретателями</p>
          </div>
        </div>
        <div class="benefits-item flex small-wrap a-items-center wow fadeInUp" data-wow-delay=".6s">
          <div class="benefits-item--image">
            <img src="assets/img/inv-4.png">
          </div>
          <div class="benefits-item--text">
            <p>Возможность объединяться с другими участниками площадки для усовершенствования своих разработок и их совместной реализации</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="columns small-12 text-center">
      <div class="button-section wow fadeInUp" data-wow-delay=".7s">
        <button type="submit" class="button green">Убедиться лично</button>
      </div>
    </div>
    </div>
</section>

<app-registration class="green"></app-registration>