
<app-header class="blue" [title]="title" [paragraph]="paragraph"></app-header>

<section class="about st-p">
  <div class="row">
    <div class="small-12 text-center wow fadeInUp" data-wow-delay=".2s">
      <h2>
          {{about_title}}
      </h2>
    </div>
  </div>
  <div class="row flex a-stretch small-wrap wow fadeInUp" data-wow-delay=".3s">
    <div class="columns medium-4 text-center flex a-stretch">
      <figure class="about-card flex j-center a-end wrap">
        <img src="assets/img/about-1.png">
        <figcaption>
          <p>Усовершенствует процесс</p>
        </figcaption>
      </figure>
    </div>
    <div class="columns medium-4 text-center flex a-stretch">
      <figure class="about-card flex j-center a-end wrap">
        <img src="assets/img/about-2.png">
        <figcaption>
          <p>Решают трудности<br> на производстве</p>
        </figcaption>
      </figure>
    </div>
    <div class="columns medium-4 text-center flex a-stretch">
      <figure class="about-card flex j-center a-end wrap">
        <img src="assets/img/about-3.png">
        <figcaption>
          <p>Снижают издержки производства</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="row wow fadeInUp" data-wow-delay=".4s">
    <div class="column small-12 text-center">
      <p class="bold">
          Мы сгенерируем инновационное решение <br>непосредственно под ваше предприятие и поможем с внедрением
      </p>
    </div>
  </div>
</section>
<section class="home-benefit icon-section st-p dot-bl">
  <div class="row">
    <div class="columns small-12 text-center wow fadeInUp" data-wow-delay=".2s">
      <h2>
        Наши преимущества
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-7 small-centered small-12 text-left">
      <div class="benefits-item flex a-items-center j-start wow fadeInUp" data-wow-delay=".3s">
        <div class="benefits-item--image">
          <img src="assets/img/benefits.png">
        </div>
        <div class="benefits-item--text">
          <p>Максимально широкий взгляд на запрос за счет привлечения специалистов из разных областей</p>
        </div>
      </div>
      <div class="benefits-item flex a-items-center j-start wow fadeInUp" data-wow-delay=".4s">
        <div class="benefits-item--image">
          <img src="assets/img/benefits-2.png">
        </div>
        <div class="benefits-item--text">
          <p>Уникальное решение для каждого запроса</p>
        </div>
      </div>
      <div class="benefits-item flex a-items-center wow fadeInUp" data-wow-delay=".5s">
        <div class="benefits-item--image">
          <img src="assets/img/benefits-3.png">
        </div>
        <div class="benefits-item--text">
          <p>Возможность совершить прорыв в отрасли, за счет внедрения абсолютно нового решения</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact></app-contact>